<div class="right"><%= link_to 'New Recipe', new_recipe_path, class: button_classes %></div>

<h1>Recipe Tiles</h1>

<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-sm-8">
    <div class="row">
      <% @recipes.each do |recipe| %>
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <%= image_tag recipe.image_url, class: 'card-img-top', alt: recipe.title %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to recipe.title, recipe %></h5>
            <p class="card-text">by <%= link_to recipe.source_name, recipe.source_url, target: '_blank' %></p>
            <p>Serves: <%= recipe.servings %> | Last: <%= recipe.last_prepared %></p>
            <a href="#" class="btn btn-primary">Add to Prep Plan</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="col-sm-4">
    <% if @upcoming_meal_plans.any? %>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Recipes for</h3>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @upcoming_meal_plans.first.start_date %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% @upcoming_meal_plans.each do |plan| %>
              <%= link_to plan.start_date, '#', class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
        <ul>
          <% @upcoming_meal_plans.first.recipes.each do |recipe| %>
            <li><%= recipe.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% else %>
      <%= link_to 'Create New Prep Date', '#', class: 'btn btn-primary' %>
    <% end %>

  </div>

</div>
