<%= form_with(model: experimental_recipe, local: true) do |form| %>

  <%= render 'shared/errors', object: experimental_recipe %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :source_url %>
    <%= form.text_field :source_url, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: button_classes('success mt-2') %>
  </div>
<% end %>
