<% content_for(:title, 'Recipes to Try') %>

<%= link_to 'Add Recipe To Try', new_experimental_recipe_path, class: button_classes('btn btn-outline-primary right') %>

<h1>Recipes to Try</h1>
<p>Save interesting recipes that we'd like to try here. Once we make a recipe, if we like it, we will add it in to our regular recipes collection.</p>

<table class="table">
  <thead>
    <tr>
      <th>Recipe</th>
      <th colspan='3'>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @experimental_recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe.source_url, target: '_blank' %></td>
        <td><%= link_to 'edit', edit_experimental_recipe_path(recipe) %></td>
        <td><%= link_to 'delete', recipe, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
        <td><%= link_to 'convert to recipe', convert_from_experimental_path(title: recipe.title, url: recipe.source_url), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
