<%= form_with(model: note) do |form| %>
  <%= render 'shared/errors', object: note %>

  <div>
    <%= form.label "Title*" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content, class: 'textarea-form-control h-screen' %>
  </div>

  <div>
    <%= form.label :favorite %>
    <%= form.check_box :favorite, class: "form-checkbox" %>
  </div>

  <div>
    <%= form.submit class: button_classes('primary mt-3') %>
  </div>
<% end %>
