<% content_for :title, "Notebook" %>

<h1>
  <%= link_to MaterialIcon.new(icon: :plus_circle, title: 'Create new Note', classes: 'float-end').render, new_note_path if policy(Note.new).create? %>
  Notes
</h1>

<% if current_user.notes.any? %>
  <% @notes.each do |note| %>
    <div class='index-item controls-on-right-parent'>
      <p><%= link_to note.title, note %> <%= MaterialIcon.new(icon: :star, title: "Favorite", filled: true, classes: "text-warning").render if note.favorite? %></p>
      <% if policy(note).edit? %>
        <span class='controls'>
          <%= note.created_at.to_fs %>
          <%= link_to MaterialIcon.new(icon: :settings).render, edit_note_path(note) %>
        </span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Create a New Note</p>
  <%= link_to 'New note', new_note_path, class: button_classes('primary btn-wide') %>
<% end %>
