<% content_for(:title, "Food Prep #{@meal_plan.prepared_on}") %>

<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + "Meal Plans", meal_plans_path %></p>

<h1>
  <%= link_to MaterialIcon.new(icon: :settings, title: 'Edit', classes: 'float-right').render, edit_meal_plan_path(@meal_plan) %>
  Meal Plan for <%= @meal_plan.prepared_on.to_fs(:long) %>
</h1>

<div class="row">
  <section class="col-12 col-sm-6">
    <h2>Stats</h2>
    <ul>
      <li>Yield: <%= @meal_plan.total_servings %> (<%= @meal_plan.meals %> Meals for <%= @meal_plan.people_served %> People)</li>
      <li>Total Prep Time: <%= display_time(@meal_plan.total_prep_time) %></li>
      <li>Total Cook Time: <%= display_time(@meal_plan.total_cook_time) %></li>
      <li>Total Time: <%= display_time(@meal_plan.total_time) %></li>
      <li>Estimated Prep Duration: <%= display_time(@meal_plan.estimated_time) %></li>
      <li>Recommended Start Time: <%= @meal_plan.recommended_start_time %></li>
      <li>Total Ingredients: <%= @meal_plan.total_unique_ingredients %></li>
    </ul>

    <% if @meal_plan.notes.present? %>
      <h2>Notes</h2>
      <p><%= @meal_plan.notes %></p>
    <% end %>
  </section>

  <section class="col-12 col-sm-6">
    <h2>Recipes</h2>
    <ol>
      <% @meal_plan.recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %>  <%= extra_work_flag(recipe) %> (<%= recipe.servings %> servings)</li>
      <% end %>
    </ol>

    <%= render partial: 'shared/add_to_shopping_list_dropdown', locals: { ingredient_ids: meal_plan_ingredient_ids(@ingredient_set) } %>
  </section>
</div><!-- row -->

<hr>

<h2>Ingredient Breakdown</h2>
<section class="card-columns">
  <% @ingredient_set.each do |ingredient, preparations| %>
      <details open>
        <summary class='mt-2 border-top border-secondary'><%= ingredient %></summary>
        <div class="mb-3">
          <% preparations.each do |preparation| %>
            <div class='pl-4 mb-2'>
              <input type="checkbox">
              <label class="mb-0 inline">
                <%= detail_display(preparation) %> (<%= link_to preparation.recipe.title, recipe_path(preparation.recipe) %>)
                <%= link_to MaterialIcon.new(icon: :plus_square, title: "Add ingredient to shopping list", size: :medium).render,
                            shopping_list_item_builders_path(shopping_list_id: current_user.shopping_lists.default&.id, ingredient_ids: preparation.id), method: 'POST' %>
              </label>
            </div>
          <% end %>
        </div>
      </details>
  <% end %>
</section><!-- row -->
