<h1>Meal Plan for <%= @meal_plan.start_date.to_s(:long) %></h1>

<div class="row">
  <div class="col-12 col-sm-6">
    <h2>Stats</h2>
    <ul>
      <li>Recipes: <%= @meal_plan.recipes.count %></li>
      <li>Yield: <%= @meal_plan.total_servings %> (<%= @meal_plan.meals %> Meals for <%= @meal_plan.people_served %> People)</li>
      <li>Total Prep Time: <%= display_time(@meal_plan.total_prep_time) %></li>
      <li>Total Cook Time: <%= display_time(@meal_plan.total_cook_time) %></li>
      <li>Total Time: <%= display_time(@meal_plan.total_time) %></li>
      <li>Estimated Time: <%= display_time(@meal_plan.estimated_time) %></li>
      <li>Total Ingredients: <%= @meal_plan.total_unique_ingredients %></li>
    </ul>
  </div>

  <div class="col-12 col-sm-6">
    <h2>Recipes</h2>
    <ol>
      <% @meal_plan.recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ol>
  </div>
</div><!-- row -->

<h2>Ingredient Breakdown</h2>
<div class="row">
  <% @ingredient_set.each do |ingredient, details| %>
  <div class="col-12 col-md-6 col-xl-4">
    <h3><%= ingredient %></h3>
    <ul>
      <% details.each do |detail| %>
      <li><%= detail_display(detail) %></li>
      <% end %>
    </ul>
  </div><!-- cols -->
  <% end %>
</div><!-- row -->
