<% content_for(:title, "Food Prep #{@meal_plan.start_date}") %>
<div class="right"><%= link_to 'Edit', edit_meal_plan_path(@meal_plan), class: button_classes %></div>

<h1>Meal Plan for <%= @meal_plan.start_date.to_s(:long) %></h1>

<div class="row">
  <section class="col-12 col-sm-6">
    <h2>Stats</h2>
    <ul>
      <li>Yield: <%= @meal_plan.total_servings %> (<%= @meal_plan.meals %> Meals for <%= @meal_plan.people_served %> People)</li>
      <li>Total Prep Time: <%= display_time(@meal_plan.total_prep_time) %></li>
      <li>Total Cook Time: <%= display_time(@meal_plan.total_cook_time) %></li>
      <li>Total Time: <%= display_time(@meal_plan.total_time) %></li>
      <li>Estimated Prep Duration: <%= display_time(@meal_plan.estimated_time) %></li>
      <li>Recommended Start Time: <%= @meal_plan.recommended_start_time %></li>
      <li>Total Ingredients: <%= @meal_plan.total_unique_ingredients %></li>
    </ul>
  </section>

  <section class="col-12 col-sm-6">
    <h2>Recipes</h2>
    <ol>
      <% @meal_plan.recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %>  <%= extra_work_flag(recipe) %> (<%= recipe.servings %> servings)</li>
      <% end %>
    </ol>

    <%= render partial: 'shared/add_to_shopping_list_dropdown', locals: { ingredient_ids: meal_plan_ingredient_ids(@ingredient_set) } %>
  </section>
</div><!-- row -->

<hr>
<button id='button__ingredients-toggle' class='btn btn-sm btn-outline-secondary right opened'>Collapse All</button>
<h2>Ingredient Breakdown</h2>
<section id='section__ingredient-breakdown' class='row ingredient-breakdown'>
  <% @ingredient_set.each do |ingredient, details| %>
  <div class="col-12 col-md-6 col-xl-4">
    <h3>
      <%= ingredient %> <i class="caret fas fa-caret-down"></i>
    </h3>
    <ul>
      <% details.each do |detail| %>
      <li>
        <%= detail_display(detail) %>
        <%= link_to '',
                    shopping_list_item_builders_path(
                      shopping_list_id: current_user.shopping_lists.default&.id,
                      ingredient_ids: [detail.id]
                    ),
                    method: 'POST',
                    title: 'add to list',
                    class: Icon.copy_to_list
        %>
      </li>
      <% end %>
    </ul>
  </div><!-- cols -->
  <% end %>
</section><!-- row -->

<script type='text/javascript'>
  mealPlanListToggler();
</script>
