<% content_for(:title, 'Aisles') %>

<h1>
  <%= link_to MaterialIcon.new(icon: :plus_circle, title: 'Create new Aisle', classes: 'nav-link-icon float-right').render, new_aisle_path %>
  Aisles
</h1>

<% if current_user.aisles.any? %>
  <% @aisles.each do |aisle| %>
    <h3 class='index-item controls-on-right-parent'>
      <%= aisle.order_number %> | <%= aisle.name %>
      <span class='controls'>
        <%= link_to MaterialIcon.new(icon: :settings, classes: 'float-right').render, edit_aisle_path(aisle) %>
      </span>
    </h3>
  <% end %>
<% else %>
  <p>Create a New Aisle</p>
  <%= link_to 'New Aisle', new_aisle_path, class: button_classes('primary btn-wide') %>
<% end %>
