<%= form_for([@shopping_list, @shopping_list_item]) do |form| %>
  <%#= render 'shared/errors', object: shopping_list_item %>

  <div class='form-row mb-2'>
    <div class='col'>
      <div class='field'>
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class: 'form-control' %>
      </div>
    </div>

    <div class='col-9'>
      <div class='field'>
        <%= form.label :name %>
        <%= form.text_field :name, autofocus: true, placeholder: 'Enter item name', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='field mb-4'>
    <%= form.label :aisle_id %>
    <%= form.collection_select :aisle_id, current_user.aisles.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit', class: button_classes('success form-control') %>
<% end %>
