<%= form_for([@shopping_list, @shopping_list_item]) do |form| %>
  <%#= render 'shared/errors', object: shopping_list_item %>

  <div class='form-group row'>
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :name, autofocus: true, placeholder: 'Enter item name', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :quantity, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :quantity, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :aisle_id, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.collection_select :aisle_id, current_user.aisles.all, :id, :name, {}, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :purchased, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :purchased %>
    </div>
  </div>

  <%= form.submit 'Submit', class: button_classes('success form-control') %>

<% end %>
