<div class="recipe-form">
  <%= form_with(model: recipe) do |form| %>
    <%= render 'shared/errors', object: recipe %>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label "Title*", class: 'fw-bold' %>
          <%= form.text_field :title, autofocus: true, class: 'form-control' %>
        </div>
      </div>
    </div> <!-- row -->

    <div class="row mb-3">
      <div class="field col-sm">
        <%= form.label :source_name, class: 'fw-bold' %>
        <%= form.text_field :source_name, class: 'form-control' %>
      </div>

      <div class="field col-sm">
        <%= form.label "Source URL*", class: 'fw-bold' %>
        <%= form.text_field :source_url, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :image_url, class: 'fw-bold' %>
      <%= form.text_field :image_url, class: 'form-control' %>
    </div>

    <div class="row mb-3">
      <div class="field col-sm">
        <%= form.label :servings, class: 'fw-bold' %>
        <%= form.number_field :servings, class: 'form-control' %>
      </div>

      <div class="field col-sm">
        <%= form.label 'Prep Time (min)', class: 'fw-bold' %>
        <%= form.number_field :prep_time, class: 'form-control' %>
      </div>

      <div class="field col-sm">
        <%= form.label 'Cook Time (min)', class: 'fw-bold' %>
        <%= form.number_field :cook_time, class: 'form-control' %>
      </div>

      <div class="field col-sm">
        <%= form.label 'Reheat Time (min)', class: 'fw-bold' %>
        <%= form.number_field :reheat_time, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3">
          <%= form.label :extra_work_note, class: 'fw-bold' %>
          <%= form.text_field :extra_work_note, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3">
          <%= form.label 'Cronometer iframe', class: 'fw-bold' %>
          <%= form.text_area :nutrition_data_iframe, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <div class="mb-3">
          <%= form.label :notes, class: 'fw-bold' %>
          <%= form.text_area :notes, class: 'form-control' %>
        </div>
      </div>
      <% if form.object.persisted? %>
        <div class="col-sm-2">
          <div class="mb-3">
            <%= form.label :status, class: 'fw-bold' %>
            <%= form.select :status,
                            Recipe.statuses.keys.map { |s| [s.titleize, s] },
                            {},
                            class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div> <!-- row -->

    <%= form.label 'Ingredients*', class: 'fw-bold mt-5' %>
    <div data-controller="add-ingredient-fields">
      <div data-add-ingredient-fields-target="container" class="container ingredients-container w-100 overflow-x-scroll">
        <div class=" row fw-bolder border-bottom border-top mb-0 text-bg-light ">
          <div class="col-2 py-1 px-2">Qty</div>
          <div class="col-2 py-1 px-2">Unit</div>
          <div class="col-4 py-1 px-2">Name</div>
          <div class="col-3 py-1 px-2">Preparation Style</div>
          <div class="col-1 py-1 px-2"><%= MaterialIcon.new(icon: :trash, size: :large).render %></div>
        </div>
        <%= form.fields_for :ingredients do |f_ingredient| %>
          <%= render partial: '/ingredients/form_fields', locals: { f_ingredient: f_ingredient } %>
        <% end %>

        <template data-add-ingredient-fields-target="template">
          <%= form.fields_for :ingredients, Ingredient.new(quantity: nil), child_index: 'NEW_RECORD' do |f_ingredient| %>
            <%= render partial: '/ingredients/form_fields', locals: { f_ingredient: f_ingredient } %>
          <% end %>
        </template>
      </div>
      <%= link_to '#', data: { action: "click->add-ingredient-fields#append" }, class: button_classes("warning float-end mt-2") do %>
        <%= MaterialIcon.new(icon: :plus_circle, title: 'Add ingredient').render %>  Add ingredient
      <% end %>
    </div>

    <% if tags.present? %>
      <%= tag.div(data: {controller: "inline-tag-creator", inline_tag_creator_url_value: tags_path}, class: "row mt-4" ) do %>
        <div class="col-sm-3">
          <p class="fw-bold mb-1">Select Tags</p>
          <div class="field">
            <%= tag.input(type: "text",
                id: "new_tag_name",
                placeholder: "new tag",
                class: "form-control",
                data: { inline_tag_creator_target: "input", action: "keydown.enter->inline-tag-creator#createTag" },
                autocomplete: "off") %>
            <div id="inline-tag-error" class="text-danger small mt-1"></div>
          </div>
          <%= tag.button(type: "button", data: { action: "click->inline-tag-creator#createTag" }, class: "#{button_classes} mt-2") do %>
            Add Tag
          <% end %>
        </div>
        <div class="col-sm-9">
          <div id="js_recipe_tags_list">
            <%= form.collection_check_boxes :tag_ids, tags, :id, :name do |r| %>
              <div class="form-check">
                <%= r.check_box class: 'form-check-input' %>
                <%= r.label class: 'form-check-label' do %>
                  <%= r.object.name %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="mb-3">
          <%= form.label 'Prep Day Instructions', class: 'fw-bold mt-3' %>
          <%= form.text_area :prep_day_instructions, class: 'form-control instructions' %>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="mb-3">
          <%= form.label :reheat_instructions, class: 'fw-bold mt-3' %>
          <%= form.text_area :reheat_instructions, class: 'form-control instructions' %>
        </div>
      </div>
    </div><!-- row -->

    <div class="mb-3">
      <%= form.label 'Original Instructions*', class: 'fw-bold mt-3' %>
      <% if recipe.source_url.present? %>
        <%= form.label class: 'fw-bold mt-5' do %>
          <%= link_to recipe.source_url, target: '_blank' do %>
            <%= MaterialIcon.new(icon: :open_in_new, title: "View source recipe").render %>
          <% end %>
        <% end %>
      <% end %>

      <%= form.text_area :instructions, class: 'form-control instructions' %>
    </div>

    <%= form.submit class: button_classes('info mt-3') %>
  <% end %>
</div>
