<div class="recipe-form">
  <%= form_for(recipe) do |form| %>
    <%= render 'shared/errors', object: recipe %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :source_name %>
      <%= form.text_field :source_name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :source_url %>
      <%= form.text_field :source_url, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :servings %>
      <%= form.number_field :servings, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label 'Prep Time (min)' %>
      <%= form.number_field :prep_time, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label 'Cook Time (min)' %>
      <%= form.number_field :cook_time, class: 'form-control' %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qty</th>
          <th>Measurement</th>
          <th>Preparation Style</th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :ingredients do |f_ingredient| %>
        <tr>
          <td><%= f_ingredient.text_field :name %></td>
          <td><%= f_ingredient.number_field :quantity %></td>
          <td><%= select_tag('measurement_units', options_for_select(Ingredient::UNITS, selected: f_ingredient.object.measurement_unit)) %></td>
          <td><%= select_tag('preparation_styles', options_for_select(Ingredient::STYLES, selected: f_ingredient.object.preparation_style)) %></td>
          <td><%= link_to 'remove', '/' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


    <div class="field">
      <%= form.label :instructions %>
      <%= form.text_area :instructions, class: 'form-control' %>
    </div>

    <%= form.submit class: button_classes %>

  <% end %>
</div>
