<% content_for(:title, 'Recipes') %>

<div class="right"><%= link_to 'New Recipe', new_recipe_path, class: button_classes %></div>

<h1>Recipes</h1>

<% if @recipes.present? %>
    <table class="table table-sm table--recipes-index">
      <thead>
        <tr>
          <th colspan='2'>Title</th>
          <th>Servings</th>
          <th>Ingredients</th>
          <th>Meal Plans</th>
          <th>Last Prepared</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><div class="img--container">
              <%= link_to (image_tag guaranteed_image(recipe)), recipe %>
            </div></td>
            <td><%= link_to recipe.title, recipe %> <%= extra_work_flag(recipe) %> <%= status_flag(recipe) %></td>
            <td><%= recipe.servings %></td>
            <td><%= recipe.ingredients.count %></td>
            <td><%= recipe.meal_plans.count %></td>
            <td><%= recipe.last_prepared %></td>
            <td><%= link_to 'Edit', edit_recipe_path(recipe), class: button_classes('outline-info') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
  <% end %>
