<% content_for(:title, 'Recipes') %>

<h1>
  <%= link_to new_recipe_path, class: "#{button_classes} btn-primary ml-2 float-right" do %>
    <%= MaterialIcon.new(icon: :plus_circle, size: :large, title: 'Create new Recipe').render %>
  <% end %>

  <%= link_to new_recipe_path(status: :pending), class: "#{button_classes} float-right" do %>
    <%= MaterialIcon.new(icon: :plus_circle, size: :large, title: 'Create new Pending Recipe').render %> <%= MaterialIcon.new(icon: :book, size: :large, title: 'Add Pending Recipe').render %>
  <% end %>
  Recipes
</h1>

<% if @recipes.present? %>
  <%= render partial: 'recipes_table', locals: { recipes: @recipes } %>
<% else %>
  <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
<% end %>

<%= will_paginate @recipes, page_links: false %>
