<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Servings</th>
      <th>Source</th>
      <th>Ingredients</th>
      <th>Meal Plans</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <td><%= recipe.servings %></td>
        <td><%= link_to recipe.source_name, recipe.source_url %></td>
        <td><%= recipe.ingredients.count %></td>
        <td><%= recipe.meal_plans.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
