<div class="row">
  <div class="col-11">
    <h1><%= @recipe.title %></h1>
    <p>
      Source: <%= link_to @recipe.source_name, @recipe.source_url, title: @recipe.source_name, target: '_blank' %>
      <% if @recipe.pepperplate_url %>
       | <%= link_to 'Pepperplate', @recipe.pepperplate_url, title: 'pepperplate', target: '_blank' %>
      <% end %>
    </p>
  </div>
  <div class="col-1">
    <div class="right"><%= link_to 'Edit', edit_recipe_path(@recipe), class: button_classes %></div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <ul>
      <li>Servings: <%= @recipe.servings %></li>
      <li>Prep Time: <%= display_time(@recipe.prep_time) %></li>
      <li>Cook Time: <%= display_time(@recipe.cook_time) %></li>
      <li>Total Time: <%= display_time(@recipe.total_time) %></li>
      <li>Reheat Time: <%= display_time(@recipe.reheat_time) %></li>
    </ul>
    <p><%= @recipe.notes %></p>
  </div>
  <div class="col-6">
    <div class="image-container">
      <%= image_tag @recipe.image_url, {class: 'image'} %>
    </div>
  </div>
</div>



<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.by_id.each do |ingredient| %>
    <li>
      <div class="row">
        <div class="col-sm">
          <%= ingredient_display(ingredient) %>
        </div>
        <div class="col-sm">
          <%= ingredient.preparation_style %>
        </div>
      </div> <!-- row -->
    </li>
  <% end %>
</ul>

<h3>Instructions</h3>
<ol>
  <%= simple_format(@recipe.instructions, {}, wrapper_tag: 'li') %>
</ol>
