<% content_for(:title, @recipe.title) %>

<div class="row mb-4">
  <div class="col-12">
    <p><%= link_to MaterialIcon.new(icon: :arrow_left).render + "All Recipes", recipes_path %></p>

    <h1>
      <%= link_to MaterialIcon.new(icon: :settings, title: 'Edit recipe', classes: 'float-right').render, edit_recipe_path(@recipe) if policy(@recipe).update? %>
      <%= @recipe.title %>
      <sup><%= extra_work_flag(@recipe) if current_user.present? %> <%= status_flag(@recipe) %></sup>
    </h1>
    <div class='recipe-show-stats text-small'>
      <div>Source: <%= link_to @recipe.source_name, @recipe.source_url, title: @recipe.source_name, target: '_blank' %></div>
      <div>Servings: <%= @recipe.servings %></div>
      <div>Prep Time: <%= display_time(@recipe.prep_time) %></div>
      <div>Cook Time: <%= display_time(@recipe.cook_time) %></div>
      <div>Total Time: <%= display_time(@recipe.total_time) %></div>
      <div>Reheat Time: <%= display_time(@recipe.reheat_time) %></div>
      <div>Prepared: <%= pluralize(@recipe.frequency, 'time') %></div>
    </div>
    <div>
      <%= render partial: 'tags/tag_links_list', locals: { tags: @recipe.tags } %>
    </div>
  </div>
</div><!-- row -->

<div class='row'>
  <!-- Left side content -->
  <div class='col-md-8 col-sm-12'>
    <div class='row'>
      <div class='col-md-6 col-sm-12'>
       <h3>Ingredients</h3>
        <div class='ml-3 mb-4'>
          <% @recipe.ingredients.by_id.each do |ingredient| %>
            <input type="checkbox">
            <label class="mb-0 inline"><%= ingredient_display(ingredient) %></label><br>
          <% end %>
        </div>
      </div> <!-- col-6 -->

      <div class='col-md-6 col-sm-12'>
        <% if @recipe.extra_work_required? %>
            <p class='alert alert-warning'><strong>Heads up!</strong> <%= @recipe.extra_work_note %></p>
        <% end %>
        <% if @recipe.notes.present? %>
          <h5>Notes</h5>
          <p><%= @recipe.notes %></p>
        <% end %>
      </div> <!-- col-6 -->
    </div> <!-- row -->

    <div class='row'>
      <div class='col-sm-12'>
        <h3>Instructions</h3>
        <div class="card mb-5">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="prep-tab" data-toggle="tab" href="#prep-day" role="tab" aria-controls="prep-day" aria-selected="false">Prep Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="original-tab" data-toggle="tab" href="#original" role="tab" aria-controls="original" aria-selected="true">Original</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="reheat-tab" data-toggle="tab" href="#reheat" role="tab" aria-controls="reheat" aria-selected="false">Reheat</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="prep-day" role="tabpanel" aria-labelledby="prep-day-tab">
                <ol>
                  <%= simple_format(@recipe.prep_day_instructions, {}, wrapper_tag: 'li') %>
                </ol>
              </div>

              <div class="tab-pane fade" id="original" role="tabpanel" aria-labelledby="original-tab">
                <ol>
                  <%= simple_format(@recipe.instructions, {}, wrapper_tag: 'li') %>
                </ol>
              </div>

              <div class="tab-pane fade" id="reheat" role="tabpanel" aria-labelledby="reheat-tab">
                <ol>
                  <%= simple_format(@recipe.reheat_instructions, {}, wrapper_tag: 'li') %>
                </ol>
              </div>
            </div><!-- tab-content -->
          </div><!-- card body -->
        </div><!-- card -->
      </div>
    </div> <!-- row -->
  </div> <!-- col-8 -->

  <!-- Right side sidebar -->
  <div class='col-md-4 col-sm-12'>
    <div class='image-container mb-3'>
      <%= image_tag guaranteed_image(@recipe), { class: 'image' } %>
    </div>

    <% if policy(@recipe).update? %>
      <%= render partial: 'shared/add_to_shopping_list_dropdown', locals: { ingredient_ids: recipe_ingredient_ids(@recipe) } %>
      <%= render partial: 'related_meal_plans', locals: {recipe: @recipe} %>
      <%= render partial: 'copy_for_user_form', locals: { recipe: @recipe } %>
      <%= render partial: 'related_recipes', locals: {recipe: @recipe} %>
    <% end %>

    <h3 class="mt-3">Nutrition Facts</h3>
    <%= render partial: 'nutritional_information', locals: { recipe: @recipe, iframe_parser: CronometerParser.new(@recipe.nutrition_data_iframe) } %>
  </div>
</div> <!-- row -->
