<% content_for(:title, @recipe.title) %>
<div class="row">
  <div class="col-11">
    <h1><%= @recipe.title %> <small><%= extra_work_flag(@recipe) %></small></h1>
    <p>
      Source: <%= link_to @recipe.source_name, @recipe.source_url, title: @recipe.source_name, target: '_blank' %>
      <% unless @recipe.pepperplate_url.blank? %>
       | <%= link_to 'Pepperplate', @recipe.pepperplate_url, title: 'pepperplate', target: '_blank' %>
      <% end %>
    </p>
  </div>
  <div class="col-1">
    <div class="right"><%= link_to 'Edit', edit_recipe_path(@recipe), class: button_classes %></div>
  </div>
</div><!-- row -->

<div class="row">
  <div class="col-sm-4">
    <h5>Stats</h5>
    <ul>
      <li>Servings: <%= @recipe.servings %></li>
      <li>Prep Time: <%= display_time(@recipe.prep_time) %></li>
      <li>Cook Time: <%= display_time(@recipe.cook_time) %></li>
      <li>Total Time: <%= display_time(@recipe.total_time) %></li>
      <li>Reheat Time: <%= display_time(@recipe.reheat_time) %></li>
      <li>Prepared: <%= pluralize(@recipe.frequency, 'time') %></li>
      <% if @recipe.extra_work_required? %>
        <li>Extra Work Warning: <%= @recipe.extra_work_note %></li>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'related_meal_plans', locals: {recipe: @recipe} %>

  <div class="col-sm-4">
    <div class="image-container">
      <%= image_tag @recipe.image_url, {class: 'image'} %>
    </div>
  </div>
</div><!-- row -->

<p><%= @recipe.notes %></p>

<div class="row">
  <div class="col-sm-8">
    <h3>Ingredients</h3>
    <ul>
      <% @recipe.ingredients.by_id.each do |ingredient| %>
      <li>
        <div class="row">
          <div class="col-sm">
            <%= ingredient_display(ingredient) %>
          </div>
          <div class="col-sm">
            <%= ingredient.preparation_style %>
          </div>
        </div> <!-- row -->
      </li>
      <% end %>
    </ul>
  </div>
  <%= render partial: 'related_recipes', locals: {recipe: @recipe} %>
</div><!-- row -->

<h3>Instructions</h3>
<div class="card mb-5">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#regular" role="tab" aria-controls="regular" aria-selected="true">Regular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#prep-day" role="tab" aria-controls="prep-day" aria-selected="false">Prep Day</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reheat" role="tab" aria-controls="reheat" aria-selected="false">Reheat</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="regular" role="tabpanel" aria-labelledby="regular-tab">
        <ol>
          <%= simple_format(@recipe.instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>

      <div class="tab-pane fade" id="prep-day" role="tabpanel" aria-labelledby="prep-day-tab">
        <ol>
          <%= simple_format(@recipe.prep_day_instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>

      <div class="tab-pane fade" id="reheat" role="tabpanel" aria-labelledby="reheat-tab">
        <ol>
          <%= simple_format(@recipe.reheat_instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>
    </div><!-- tab-content -->
  </div><!-- card body -->
</div><!-- card -->
