<% content_for(:title, @recipe.title) %>

<div class="row">
  <div class="col-11">
    <h1><%= @recipe.title %> <small><%= extra_work_flag(@recipe) if current_user.present? %></small></h1>
    <p>
      Source: <%= link_to @recipe.source_name, @recipe.source_url, title: @recipe.source_name, target: '_blank' %>
    </p>
  </div>
  <div class="col-1">
    <div class="float-right"><%= link_to 'Edit', edit_recipe_path(@recipe), class: button_classes if policy(@recipe).update? %></div>
  </div>
</div><!-- row -->

<div class='row'>
  <div class='col-md-8 col-sm-12'>
    <div class='row'>
      <div class='col-md-6 col-sm-12'>
        <h5>Stats</h5>
        <ul>
          <li>Servings: <%= @recipe.servings %></li>
          <li>Prep Time: <%= display_time(@recipe.prep_time) %></li>
          <li>Cook Time: <%= display_time(@recipe.cook_time) %></li>
          <li>Total Time: <%= display_time(@recipe.total_time) %></li>
          <li>Reheat Time: <%= display_time(@recipe.reheat_time) %></li>
          <li>Prepared: <%= pluralize(@recipe.frequency, 'time') %></li>
          <% if @recipe.extra_work_required? %>
            <li>Extra Work Warning: <%= @recipe.extra_work_note %></li>
          <% end %>
        </ul>
      </div> <!-- col-6 -->

      <div class='col-md-6 col-sm-12'>
        <%= render partial: 'related_meal_plans', locals: {recipe: @recipe} if policy(@recipe).update? %>
      </div> <!-- col-6 -->
    </div> <!-- row -->

    <p><%= @recipe.notes %></p>

    <div class='row'>
      <div class='col-12'>
        <h3>Ingredients</h3>
        <form class='ml-3'>
          <% @recipe.ingredients.by_id.each do |ingredient| %>
            <input type="checkbox">
            <label><%= ingredient_display(ingredient) %></label><br>
          <% end %>
        </form>
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- col-8 -->

  <div class='col-md-4 col-sm-12'>
    <div class='image-container mb-3'>
      <%#= image_tag @recipe.image_url, { class: 'image' } %>
      <%= image_tag guaranteed_image(@recipe), { class: 'image' } %>

    </div>
    <% if policy(@recipe).update? %>
      <%= render partial: 'shared/add_to_shopping_list_dropdown', locals: { ingredient_ids: recipe_ingredient_ids(@recipe) } %>
      <%= render partial: 'copy_for_user_form', locals: { recipe: @recipe } %>
      <%= render partial: 'related_recipes', locals: {recipe: @recipe} %>
    <% end %>
  </div>
</div> <!-- row -->

<h3>Instructions</h3>
<div class="card mb-5">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#regular" role="tab" aria-controls="regular" aria-selected="true">Regular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#prep-day" role="tab" aria-controls="prep-day" aria-selected="false">Prep Day</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reheat" role="tab" aria-controls="reheat" aria-selected="false">Reheat</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="regular" role="tabpanel" aria-labelledby="regular-tab">
        <ol>
          <%= simple_format(@recipe.instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>

      <div class="tab-pane fade" id="prep-day" role="tabpanel" aria-labelledby="prep-day-tab">
        <ol>
          <%= simple_format(@recipe.prep_day_instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>

      <div class="tab-pane fade" id="reheat" role="tabpanel" aria-labelledby="reheat-tab">
        <ol>
          <%= simple_format(@recipe.reheat_instructions, {}, wrapper_tag: 'li') %>
        </ol>
      </div>
    </div><!-- tab-content -->
  </div><!-- card body -->
</div><!-- card -->
