<%= form_for([shopping_list, scheduled_delivery]) do |form| %>
  <%= render 'shared/errors', object: scheduled_delivery %>

  <div class='field'>
    <%= form.label :service_provider %>
    <%= form.text_field :service_provider,
      autofocus: true,
      required: true,
      placeholder: 'ex: HEB',
      class: 'form-control'
    %>
  </div>

  <div class='field'>
    <%= form.label :scheduled_for, class: 'mt-3' %><br>
    <%= form.datetime_select :scheduled_for,
      required: true,
      value: Time.zone.now,
      ampm: true,
      minute_step: 30,
      start_hour: 06,
      end_hour: 22,
      class: 'form-control'
    %>
  </div>

  <%= form.submit class: "#{button_classes} mt-3" %>
<% end %>
