<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to 'FoodPlanner', root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= render 'shared/navbar_signed_in' if current_user %>

      <li class="nav-item">
        <%= session_links %>
      </li>
    </ul>
    <%= form_tag(recipes_path, :method => "get", id: 'search-form', class: 'form-inline my-2 my-lg-0' ) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: 'form-control mr-sm-2' %>
      <%= submit_tag "Search", :name => nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>
