<%= form_for(shopping_list) do |form| %>
  <%= render 'shared/errors', object: shopping_list %>

  <div class='field'>
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, placeholder: 'Enter shopping_list name', class: 'form-control' %>
  </div>

  <%= form.submit class: "#{button_classes} mt-3" %>
<% end %>
