<% content_for(:title, 'Shopping Lists') %>

<h1>
  <%= link_to MaterialIcon.new(icon: :plus_circle, title: 'Create a new shopping list', classes: 'float-right').render, new_shopping_list_path %>
  Shopping Lists
</h1>

<% if current_user.shopping_lists.any? %>
  <% @shopping_lists.each do |shopping_list| %>
    <p class='index-item controls-on-right-parent'>
      <span>
        <%= toggle_favorite(shopping_list) %>
        <%= link_to shopping_list.name, shopping_list_path(shopping_list) %>
        (<%= shopping_list.items.not_purchased.length %>)
      </span>
      <span class='controls'>
        <%= link_to MaterialIcon.new(icon: :settings, classes: 'float-right').render, edit_shopping_list_path(shopping_list) %>
      </span>
    </p>
  <% end %>

<% else %>
  <p>Create a New Shopping List</p>
  <%= link_to 'New Shopping List', new_shopping_list_path, class: button_classes('primary btn-wide') %>
<% end %>
