<h1>Shopping Lists</h1>

<% if current_user.shopping_lists.any? %>
  <%#= render partial: 'shared/search_form', locals: { url: shopping_lists_path } %>
  <%= render 'form', shopping_list: @shopping_list %>

  <% @shopping_lists.each do |shopping_list| %>
      <h3 class='index-item'>
        <%= toggle_favorite(shopping_list) %>
        <%= link_to shopping_list.name, shopping_list_path(shopping_list) %>
        <span class='index-item-actions right'>
          <%= link_to "", edit_shopping_list_path(shopping_list), class: Icon.edit %>
          <%= link_to "", shopping_list, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, class: Icon.delete %>
        </span>
      </h3>
  <% end %>

<% else %>
  <p>Create a New Shopping List</p>
  <%= link_to 'New Shopping List', new_shopping_list_path, class: button_class('primary btn-wide') %>
<% end %>
