<% content_for(:title, @shopping_list.name) %>

<h1>
  <%= link_to "", @shopping_list, title: 'sync', class: "#{Icon.sync} float-right"%>
  <%= link_to 'Clear List', deactivate_all_items_path(@shopping_list), method: :post, data: { confirm: 'Are you sure you want to cross off all items? This action cannot be undone.' }, title: 'clear list', class: button_classes('outline-info float-right mr-3 mt-2') %>
  <%= link_to 'Add Delivery', new_shopping_list_scheduled_delivery_path(@shopping_list), title: 'Schedule an upcoming delivery', class: button_classes('outline-info float-right mr-2 mt-2') %>
  <%= link_to '', shopping_lists_path, class: Icon.back %>
  <%= @shopping_list.name %>
</h1>

<article class='index-item'>
  <%= form_tag(search_shopping_list_path(@shopping_list), method: 'get', id: 'search-form' ) do %>
    <div class="col-xs-12">
      <%= text_field_tag :search, params[:search], placeholder: 'Find or Add an item...', class: 'form-control form-control-sm' %>
    </div>
  <% end %>
</article>

<%= render 'scheduled_deliveries/scheduled_deliveries', shopping_list: @shopping_list %>

<section id='active-items'>
  <% @shopping_list.shopping_list_items.not_purchased.by_aisle_order_number.group_by(&:aisle).each do |aisle, items| %>
    <% if aisle %>
      <h4 class='aisle'><%= aisle.name %></h4>
      <% items.each do |item| %>
        <article id='<%= item.id %>' class='index-item'>
          <p class='shopping-list-item controls-on-right-parent'>
            <span>
              <%= link_to display_item(item), deactivate_item_path(id: item.id), class: 'js-toggle', method: :post, remote: true %>
              <%= display_status(item) %>
            </span>
            <span class='controls'>
              <%= link_to 'add_shopping_cart',
                          add_item_to_cart_path(id: item.id),
                          class: 'js-add-to-cart material-icons',
                          title: 'Mark item as scheduled for home delivery',
                          method: :post,
                          remote: true if item.active? %>
              <%= link_to '', edit_shopping_list_shopping_list_item_path(@shopping_list, item), class: Icon.edit %>
            </span>
          </p>
        </article>
      <% end %><!-- each -->
    <% end %><!-- if aisle -->
  <% end %>
</section>

<h4 class='aisle'>Crossed Off</h4>
<section id='inactive-items'>
  <% @shopping_list.shopping_list_items.inactive.by_recently_edited.limit(30).each do |item| %>
    <article id='<%= item.id %>' class='index-item item-crossed-off'>
      <p class='shopping-list-item '>
        <%= link_to display_item(item), activate_item_path(id: item.id), class: 'js-toggle', method: :post, remote: true %>
        <span class='float-right'>
          <%= link_to 'add_shopping_cart',
                      add_item_to_cart_path(id: item.id),
                      class: 'js-add-to-cart material-icons mr-2',
                      title: 'Mark item as scheduled for home delivery',
                      method: :post,
                      remote: true %>
          <%= link_to '', edit_shopping_list_shopping_list_item_path(@shopping_list, item), class: Icon.edit %>
        </span>
      </p>
    </article>
  <% end %>
</section>

<script type='text/javascript'>
  shoppingListItemToggler();
</script>
