<% content_for(:title, @shopping_list.name) %>

<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + 'Shopping Lists', shopping_lists_path %></p>

<header class="d-flex justify-content-between align-items-center">
  <h1><%= @shopping_list.name %></h1>
  <div class='d-flex align-items-center'>
    <%= link_to MaterialIcon.new(icon: :truck, size: :xxlarge, title: 'Schedule an upcoming delivery').render, new_shopping_list_scheduled_delivery_path(@shopping_list), class: "me-2" %>
    <%= link_to MaterialIcon.new(icon: :sync, size: :xxlarge).render, @shopping_list %>
  </div>
</header>

<article class='index-item'>
  <%= form_tag(search_shopping_list_path(@shopping_list), method: 'get', id: 'search-form' ) do %>
    <div class="col-xs-12 mb-2">
      <%= text_field_tag :search, params[:search], list: 'name', placeholder: 'Find or Add an item...', class: 'form-control form-control-sm' %>
      <datalist id="name">
        <option value="  "></option>
        <% @shopping_list.items.each do |item| %>
          <option id="<%= item.id %>" value="<%= item.name %>"></option>
        <% end %>
      </datalist>
    </div>
  <% end %>
</article>

<%= render 'scheduled_deliveries/scheduled_deliveries', shopping_list: @shopping_list %>

<section id='js-active-items'>
  <% @shopping_list.shopping_list_items.includes([:list]).not_purchased.by_aisle_order_number.group_by(&:aisle).each do |aisle, items| %>
    <% if aisle %>
      <div id='<%= dom_id(aisle) %>'>
        <h4 class='aisle'><%= aisle.name %></h4>
        <% items.each do |item| %>
          <%= render partial: '/shopping_list_items/shopping_list_item', locals: { item: item } %>
        <% end %><!-- each -->
      </div>
    <% end %><!-- if aisle -->
  <% end %><!-- each -->
</section>

<h4 class='aisle'>Crossed Off</h4>
<section id='js-inactive-items' class='inactive-items'>
  <% @shopping_list.shopping_list_items.inactive.by_recently_edited.limit(30).each do |item| %>
    <%= render partial: '/shopping_list_items/shopping_list_item', locals: { item: item } %>
  <% end %>
</section>
