<h1>
  <%= link_to "", shopping_lists_path, class: Icon.back %>
  <%= @shopping_list.name %>
</h1>
<!-- <div id='new-form-placeholder'></div> -->
<article class='list'>
  <%= link_to 'Add an Item...', new_shopping_list_shopping_list_item_path(@shopping_list) %>
</article>

<% @shopping_list.shopping_list_items.includes(:aisle).not_purchased.group_by(&:aisle).each do |aisle, items| %>
  <% if aisle %>
    <h4 class='aisle'><%= aisle.number %> <%= aisle.name %></h4>
    <% items.each do |item| %>
      <article class='list'>
        <p class='list-item'>
          <%= item.quantity %> <%= item.name %>
          <span class='right'> <%= link_to "", edit_shopping_list_shopping_list_item_path(@shopping_list, item), class: Icon.edit %></span>
        </p>
      </article>
    <% end %>
  <% end %>
<% end %>

<h4 class='aisle'>Crossed Off</h4>
<% @shopping_list.shopping_list_items.purchased.by_recently_edited.each do |item| %>
  <article class='list'>
    <p class='list-item item-purchased'>
      <span class='item-name'><%= item.quantity %> <%= item.name %></span>
      <span class='item-icon right'> <%= link_to "", edit_shopping_list_shopping_list_item_path(@shopping_list, item), class: "icon #{Icon.edit}" %></span>
    </p>
  </article>
<% end %>
