<%= link_to 'Back', shopping_lists_path, class: button_class('primary right') %>
<%= link_to 'Add Item', new_shopping_list_shopping_list_item_path(@shopping_list), class: button_class('primary right') %>

<h1><%= @shopping_list.name %></h1>
<!-- <div id='new-form-placeholder'></div> -->

<% @shopping_list.shopping_list_items.not_purchased.group_by(&:aisle).each do |aisle, items| %>
  <% if aisle %>
    <%= aisle.number %> <%= aisle.name %>
    <% items.each do |item| %>
      <article class='list'>
        <h3>
          <%= item.quantity %> <%= item.name %>
          <span class='list-actions right'><%= link_to 'edit', edit_shopping_list_shopping_list_item_path(@shopping_list, item) %></span>
        </h3>
      </article>
    <% end %>
  <% end %>
<% end %>

purchased
<% @shopping_list.shopping_list_items.purchased.by_recently_edited.each do |item| %>
  <article class='list'>
    <h3>
      <span class="item_purchased"><%= item.quantity %> <%= item.name %></span>
      <span class='list-actions right'><%= link_to 'edit', edit_shopping_list_shopping_list_item_path(@shopping_list, item) %></span>
    </h3>
  </article>
<% end %>
