<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recipes
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to '+ New Recipe', new_recipe_path, class: 'dropdown-item' %>
    <div class='dropdown-divider'></div>
    <%= link_to 'My Recipes', recipes_path, class: 'dropdown-item' %>
    <%= link_to 'Recipes to Try', experimental_recipes_path, class: 'dropdown-item' %>
    <%= link_to 'Recipe Suggestions', inventory_recipe_suggestions_path(current_user.inventory), class: 'dropdown-item' if current_user.inventory.present? %>
  </div>
</li>

<li class="nav-item">
  <%= display_link_to_plan %>
</li>

<li class="nav-item">
  <%= link_to display_list_and_count %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to '+ New Recipe', new_recipe_path, class: 'dropdown-item' %>
    <%= link_to '+ New Meal Plan', new_meal_plan_path, class: 'dropdown-item' %>
    <div class='dropdown-divider'></div>
    <%= link_to 'Meal Plans', meal_plans_path, class: 'dropdown-item' %>
    <%= link_to 'Shopping lists', shopping_lists_path, class: 'dropdown-item' %>
    <%= render partial: 'shared/navbar/favorite_shopping_list' %>
    <%= link_to 'Aisles', aisles_path, class: 'dropdown-item' %>
    <%= link_to 'Inventory', edit_inventory_path(current_user.inventory.id), class: 'dropdown-item' if current_user.inventory.present? %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.email %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Change My Password', edit_user_registration_path, class: 'dropdown-item' %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
  </div>
</li>
