<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recipes
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'All Recipes', recipes_path, class: 'dropdown-item' %>
    <%= link_to '+ New Recipe', new_recipe_path, class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Meal Plans
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= display_link_to_plan %>
    <%= link_to 'All Meal Plans', meal_plans_path, class: 'dropdown-item' %>
    <%= link_to '+ New Meal Plan', new_meal_plan_path, class: 'dropdown-item' %>
  </div>
</li>

<% if current_user.admin? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Shopping Lists
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= render partial: 'shared/navbar/favorite_shopping_list' %>
      <%= link_to 'All Shopping lists', shopping_lists_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mockups
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Recipes', mockups_recipes_path, class: 'dropdown-item' %>
      <%= link_to 'Action', recipes_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Action', recipes_path, class: 'dropdown-item' %>
    </div>
  </li>
<% end %>
